<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En liten bank</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="../public/main.js" type="module" defer></script>
</head>
<body>
    
    <div class="largeContainer flex-row-colReverse">
        <div class="sectionOne">
            <!-- render accounts -->
            <div id="accounts">
                <h1 class="all">Alla konton</h1>           
                <div class="accountSection flex-col"></div>
            </div>

        </div>
        <div class="sectionTwo">
            <!-- render form -->
            <div id="accountForm">
                <h1 class="h1"></h1>
                <div class="formSection">
                    <form id="myForm"></form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>